* {
  padding: 0;
  margin: 0;
}
.table-box {
  margin: 70px auto;
  width: 50%;
  height: 420px;
  overflow-x: hidden;
  overflow-y: auto;
}

.table-health-hazards h2 {
  width: 80%;
  margin: 15px auto;
  font-family: sans-serif;
}
.table-row {
  display: table;
  width: 100%;
  margin: 0 auto;
  font-family: sans-serif;

  background-color: transparent;
  padding: 12px 0;
  font-size: 13px;
  color: #555;
  /* box-shadow: 0 1px 4px 0 rgba(0,0,50,0.3)/ */
}
.table-row:nth-child(even) {
  background-color: #dddddd;
}

.table-head {
  background-color: #273057 !important;
  font-weight: bold;
  color: #fff;
}

.table-cell-select,
.table-cell-description,
.table-cell-name,
.table-cell-edit,
.table-cell-class,
.table-cell-hazard {
  display: table-cell;
  padding: 4px 0;
  /* border-right: 1px solid #d6d4d4; */
  text-align: center;
  vertical-align: middle;
}

.table-cell-select {
  width: 15%;
}
.table-cell-description {
  text-align: left;
  padding-left: 5%;
  /* margin-left: 5%; */
}
.table-cell-name {
  width: 15% !important;
  font-weight: bold;
}

.table-cell-name span {
  font-size: 10px;
  padding: 0;
}

.table-cell-edit {
  width: 10%;
}

.table-btn-edit {
  text-decoration: none;
  font-weight: 550;
}

.table-btn-delete {
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: red;
}

.table-cell-class {
  width: 5%;
}
.table-cell-class p {
  width: 5%;
  margin: 0;
}

.table-cell-hazard {
  width: 15%;
  text-align: start;
  padding-left: 2%;
}

.table-cell-hazard p {
  font-family: sans-serif;
  font-weight: bold;
  padding-bottom: 0;
}

.table-icon-class-icon {
  width: 25px;
  height: 25px;
  padding: 10px;
  border-radius: 50%;
  background-color: blue;
  color: white;
  display: block;
}
